.form-control{
    margin-top: 1%;
    color: rgb(4, 140, 45);
}
h1{
    text-align: center;
    color: white;
    font-weight: 700;
}
body{
    background-color: rgb(42, 41, 41);
}

button{
    background-color: rgb(164, 123, 20);
    color: bisque;
}
input{
    background-color: gray;
    width: 100%;
}
label{
    color: white;
    font-weight: 700;
}
h5{
    color: rgb(43, 84, 173);
    font-weight: 700;
}
.infousuario{
    color: white;
    font-weight: 300;
}